<%- include header%>

    <div class="col-md-12 shopManage">
        <% if(success){ %>
        <span><%= success %></span>
        <% } %>
        <% if(error){ %>
        <span><%= error %></span>
        <% } %>

        <p>商品信息管理</p>
        <a type="button" class="btn btn-primary" href="/addShop">添加商品</a>

        <table class="table table-hover table-responsive">
            <tr>
                <td>序号</td>
                <td>商品名称</td>
                <td>商品数量</td>
                <td>单价(元)</td>
                <td>单位</td>
                <td>发布时间</td>
                <td>操作</td>
            </tr>
            <% var count = 0; shops.forEach(function(shop,index){ %>
            <tr>
                <td><%= ++count %></td>
                <td><%= shop.name %></td>
                <td>
                    <form method="post">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">-</button>
                            <input type="text" class="btn btn-default shopNum" name="num" placeholder="<%= shop.num %>">
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                    </form>
                </td>
                <td><%= shop.unitPrice %></td>
                <td><%= shop.unit %></td>
                <td><%= shop.buildTime %></td>
                <td>
                    <a href="/shopInfo">详情</a>
                    <a href="/deleteShop">删除</a>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
<br />
<div>
    <% if (!isFirstPage) { %>
    <span class="prepage"><a title="上一页" href="?p=<%= page - 1 %>">上一页</a></span>
    <% } %>

    <% if (!isLastPage) { %>
    <span class="nextpage"><a title="下一页" href="?p=<%= page + 1 %>">下一页</a></span>
    <% } %>
</div>
<%- include footer%>